.SiteFooter{
    color: var(--skColorDarkInverse);
    &-menu{
        background: var(--skColorDarkest);
        ul{
            list-style: none;
            padding: 0;
            display: flex;
            max-width: $maxWidth;
            margin: 0 auto;
            padding: 0 1rem;
            a{
                color: var(--skColorDarkInverse);
                padding: .5rem .5rem .5rem 0;
                display: block;
                text-decoration: none;
            }
        }
    }
    &-branding{
        padding: 1rem;
        background: var(--skColorDarker);
    }
}

.SiteFooterBranding{
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    @include from(l){
        display: flex;
        align-items: center;
        &-logo{
            margin-right: 8px;
        }
    }
}