$AdminLayoutAsideWidth: 270px;
$AdminLayoutAsideSmallWidth: 64px;
$AdminLayoutHeaderHeight: 64px;

@import 'util';
@import 'admin/AdminLayout';
@import 'admin/AdminSidebar';
@import 'admin/AdminHeader';
@import 'admin/TopToolbar';
@import 'admin/CourseManage';
@import 'admin/SortableList';
@import 'Question';